/* Paul Irish reset */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

    /* Header area */

    .main-banner {
      width: 100%;
      text-align: center;
    }
  
    .logo {
      height: 50px;
    }
  
    .logo-img {
      height: 60px;
      padding: 10px;
      margin-top: 15px;
    }
  
    .header {
      margin: 5px;
      padding: 10px;
      display: flex;
      justify-content: center;
      
    }
  
    .header-row {
      margin: 10px;
      padding: 20px;
      display: flex;
      justify-content: space-evenly;
      color: #707070;
    }
    
  a:hover {
  color: #000000;
  }

  a:visited {
  color: #606060;
  }

a:link {
  color: #707070;
}

  .nav-container {
    margin: 17px;
    padding-top: 6px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    line-height: 1.7em;
    font-size: 23px;
    color: #707070;
    display: flex;
    justify-content: center;
  }

  /* clean up math between margin and width %, make same width as images, also fix it on the collect page*/
  .page-divider {
    border-bottom: 1px solid #ddd;
    margin: 15px;
    padding-top: 20px;
    margin-left: 18%;
    width: 63%;
    display: flex;
    justify-content: flex-end;
}

.body {
  background-color: #f1f1f1;
  color:#707070;
}

/* Works/portfolio area */

.portfolio-section {
    /*taken from port container, experiment*/
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

.portfolio-container {
    margin: 25px;

    height: 400px;
    width: 25%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.portfolio-row {
  margin-top: 8px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.portfolio-img {
  height: 350px; 
  width: 255px;
  cursor:pointer;
}

/* Exclusive to Collect page */ 

.sale-section {
  height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.sale-container {
  margin: 5px;
  padding: 5px;
  height: 200px;
  width: 25%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.sale-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 90px;
}

.sale-img {
  display: flex;
  min-width: 260px;
  height: 260px;
  padding: 10px;
  cursor:pointer;
}

/*Exclusive to Contact page */

.contact-container {
  margin: 6%;
  padding: 8px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.input, select {
  width: 250px;
  padding: 10px;
  margin: 8px 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border: none;
}

/* how to get SUBMIT button align center without margin left?? */ 
input[type=submit] {
  padding: 12px;
  margin: 10px;
  margin-left: 33%;
  display: flex;
  justify-content: center;
  background:#ccc; 
  border:0 none;
  cursor:pointer;
  border-radius: 5px; 
}

#email, #name, #message, #interest, #submit{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 15px;
  width: 250px;
  border: none;
}

.h3 {
  justify-content: center;
  margin: 10px;
}

.h4 {
  justify-content: center;
  align-content: justify;
  padding: 5px;
}


.meet-bio {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding-top: 10px;
}

.bio-meat {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 55%;
  margin-left: 375px;


}

.h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 10px;
  padding: 10px;
}

.carousel {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#carouselExampleControls {
  width: 50%;
}

/* Doors Ajar page only */

.doors-img {
  height: 350px;
  padding: 10px;
  margin: 10px;
}

.doors-sale {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.doors-container {
  margin: 5px;
  padding: 5px;
  height: 200px;
}
.doors-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 10px;
  margin-bottom: 80px;
}

.add2cart {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.add-cart {
  background-color: #474a48;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px;
border-radius: 2px;
}

/* Why does justify content etc not work? */ 
.vm-desc {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-self: center;
  padding: 50px; 
}

.back {
padding: 20px; 

}

/* Footer area -- sitewide */

.footer {
  margin: 20px;
  padding: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; 
}

.copyright {
  font-family: Arial, Helvetica, sans-serif;
}