/* Paul Irish reset */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* Header area */

  .main-banner {
    background-color: #FFFFFF;
    background-image: url("//static1.squarespace.com/static/5a4ed2fe49fc2bd65effc21b/t/5f3478ba01cfd145898efa17/1618770909877/?format=1000w");
    height: 100px;
    justify-content: space-evenly;
  }

  .header-nav-link {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    text-align: justify;
    /*
    flex-basis: 70%;
    display: flex;
    justify-content: flex-end; */
  }

/* Works/portfolio area */

.portfolio-section {
  background-color: #FFFFFF;
  padding: 25px 0;
}

.portfolio-container {
  width: 150px;
  height: 250px;
  border: 1px solid black;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.portfolio-row {

}

.h2 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

.h4 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  
}